body {
  font-family: 'Mouse Memoirs', sans-serif;
}

.big-container {
  background-color: orange;
  /* transform-style: preserve-3d;
  transform: translateZ(20px) */
  /* height: 100%; */
  /* margin: 0 auto; */
  width: 100%;
}

/* ======= Intro Text ======= */

.intro-text p {
  color: white;
  font-size: 40px;
  text-align: center;
}

/* ======= Me ======= */

.me {
  background-color: blue;
  color: white;
  height: 200px;
  width: 400px;
}

/* ======= Title ======= */

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
}

.big-title {
  background-color: purple;
  font-size: 110px;
}

.small-title {
  background-color: green;
  font-size: 70px;
  text-align: center;
}

/* ======= Projects ======= */

.projects {
  display: flex;
  flex-direction: column;
  padding-left: 70%;
}

.p1 {
  background-color: blue;
  background-size: cover;
  height: 100%;
  object-fit: contain;
  transform: rotate(12deg);
}

.p1 img {
  object-fit: contain;
  width: 100%;
}

.p2 {
  background-color: turquoise;
  margin-top: 10px;
  max-height: 100%;
  max-width: 100%;
  transform: rotate(7deg);
}

.p2 img {
  object-fit: contain;
  width: 100%;
}

.p3 {
  background-color: pink;
  max-height: 100%;
  max-width: 100%;
  transform: rotate(3deg);
}

.p3 img {
  object-fit: contain;
  width: 100%;
}

/* ======= Tech ======= */

.starring-container {
  color: turquoise;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.starring-container li {
  display: inline;
  list-style-type: none;
}

.starring {
  font-size: 25px;
}

.co-starring {
  font-size: 20px;
}
